aws-cdk.core>=1.106.1
aws-cdk.aws_ec2>=1.106.1
aws-cdk.aws_glue>=1.106.1
aws-cdk.aws_iam>=1.106.1
aws-cdk.aws_kms>=1.106.1
aws-cdk.aws_logs>=1.106.1
aws-cdk.aws_s3>=1.106.1
aws-cdk.aws_redshift>=1.106.1
aws-cdk.aws_rds>=1.106.1
aws_cdk.aws_secretsmanager>=1.106.1