[tool.bumpversion]
current_version = "3.10.0"
commit = false
tag = false
tag_name = "{new_version}"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)((?P<release>[a-z]+)(?P<build>\\d+))?"
serialize = [
	"{major}.{minor}.{patch}{release}{build}",
	"{major}.{minor}.{patch}"
]

[tool.bumpversion.parts.release]
optional_value = "rc"
values = [
	"a",
	"b",
	"rc"
]

[tool.bumpversion.parts.build]
first_value = 1

[[tool.bumpversion.files]]
filename = "VERSION"

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = "version = \"{current_version}\""
replace = "version = \"{new_version}\""

[[tool.bumpversion.files]]
filename = "test_infra/pyproject.toml"
search = "version = \"{current_version}\""
replace = "version = \"{new_version}\""

[[tool.bumpversion.files]]
filename = "README.md"
search = "https://aws-sdk-pandas.readthedocs.io/en/{current_version}/"
replace = "https://aws-sdk-pandas.readthedocs.io/en/{new_version}/"

[[tool.bumpversion.files]]
filename = "docs/source/install.rst"
search = "awswrangler=={current_version}"
replace = "awswrangler=={new_version}"

[[tool.bumpversion.files]]
filename = "awswrangler/__metadata__.py"

[[tool.bumpversion.files]]
filename = "tests/unit/test_metadata.py"
search = "assert wr.__version__ == \"{current_version}\""
replace = "assert wr.__version__ == \"{new_version}\""

[[tool.bumpversion.files]]
glob = "awswrangler/**/*.py"
search = "https://aws-sdk-pandas.readthedocs.io/en/{current_version}/"
replace = "https://aws-sdk-pandas.readthedocs.io/en/{new_version}/"
ignore_missing_version = true

[[tool.bumpversion.files]]
glob = "tutorials/*.ipynb"
search = "https://aws-sdk-pandas.readthedocs.io/en/{current_version}/"
replace = "https://aws-sdk-pandas.readthedocs.io/en/{new_version}/"
ignore_missing_version = true
