include README.md LICENSE requirements.txt
include awswrangler/py.typed
exclude .*
exclude *.egg-info
exclude data_samples*
exclude dist*
exclude docs*
exclude dev*
exclude htmlcov*
exclude testing*
exclude building*
exclude tutorials*
