include README.md
include LICENSE.txt
include NOTICE.txt
include THIRD_PARTY.txt
include requirements.txt
include awswrangler/py.typed

global-exclude *.so
global-exclude *.pyc
global-exclude *~
global-exclude \#*
global-exclude .git*
global-exclude .coverage*
global-exclude .DS_Store
global-exclude __pycache__
