[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
sphinx = "*"
seaborn = "*"
matplotlib = "*"
pyqt5 = "*"

[packages]
boto3 = "*"
s3fs = "*"
pandas = "*"
pyarrow = "*"

[pipenv]
allow_prereleases = true
