[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "==3.7.7"
pytest = "==4.3.1"
twine = "==1.13.0"
cfn-lint = ">=0.22.0"

[packages]
boto3 = "==1.9.164"
s3fs = "==0.2.1"
pandas = "==0.24.2"
pyarrow = "==0.13.0"
tenacity = "==5.0.4"
pg8000 = "==1.13.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
