[tool.poetry]
name = "awswrangler"
version = "3.0.0rc2"
description = "Pandas on AWS."
authors = ["Amazon Web Services"]
license = "Apache License 2.0"

readme = "README.md"

include = ["README.md", "LICENSE.txt", "NOTICE.txt", "THIRD_PARTY.txt", "awswrangler/py.typed"]

exclude = ["*.so", "*.pyc", "*~", "#*", ".git*", ".coverage*", "DS_Store", "__pycache__"]

homepage = "https://aws-sdk-pandas.readthedocs.io/"
repository = "https://github.com/aws/aws-sdk-pandas"
documentation = "https://aws-sdk-pandas.readthedocs.io/"

keywords = ["pandas", "aws"]

classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

[tool.poetry.dependencies]
python = ">=3.8, <4.0"

# Required
boto3 = "^1.26.42"
pandas = "^1.0"
numpy = "^1.18"
pyarrow = ">=7.0.0"
typing-extensions = "^4.4.0"

# Databases
redshift-connector = { version = "^2.0.0", optional = true }
pymysql = { version = "^1.0.0", optional = true }
pg8000 = { version = "^1.29.0", optional = true }
pyodbc = { version = "^4.0.0", optional = true }
oracledb = { version = "^1.0.0", optional = true }

# Graph
gremlinpython = { version = "^3.5.2", optional = true }
SPARQLWrapper = { version = "^2.0.0", optional = true }
requests = { version = "^2.0.0", optional = true }

# OpenSearch
opensearch-py = { version = "^2.0.0", optional = true }
requests-aws4auth = { version = "^1.1.1", optional = true }
jsonpath-ng = { version = "^1.5.3", optional = true }

# Other
openpyxl = { version = "^3.0.0", optional = true }
progressbar2 = { version = "^4.0.0", optional = true }
deltalake = { version = "^0.6.4", optional = true }

# Distributed
modin = { version = "~0.18.0", optional = true }
ray = { version = ">=2.0.0,<2.3.0", extras = ["default", "data"], optional = true}

[tool.poetry.extras]
redshift = ["redshift-connector"]
mysql = ["pymysql"]
postgres = ["pg8000"]
sqlserver = ["pyodbc"]
oracle = ["oracledb"]
gremlin = ["gremlinpython", "requests"]
sparql = ["SPARQLWrapper", "requests"]
opencypher = ["requests"]
opensearch = ["opensearch-py", "jsonpath-ng", "requests-aws4auth"]
openpyxl = ["openpyxl"]
progressbar = ["progressbar2"]
deltalake = ["deltalake"]
modin = ["modin"]
ray = ["ray"]

[tool.poetry.dev-dependencies]
# Build
setuptools = "*"
wheel = "^0.38.1"

# Lint
black = "^23.1.0"
boto3-stubs = {version = "1.26.47", extras = ["athena", "chime", "cloudwatch", "dynamodb", "ec2", "emr", "glue", "kms", "lakeformation", "logs", "neptune", "opensearch", "opensearchserverless", "quicksight", "rds", "redshift", "redshift-data", "s3", "secretsmanager", "ssm", "sts", "timestream-query", "timestream-write"]}
doc8 = "^1.0"
mypy = "^0.991"
pylint = "^2.0"
ruff = "^0.0.240"

# Test
moto = "^4.0"
openpyxl = "^3.0"
pytest = "^7.0"
pytest-cov = "^4.0"
pytest-rerunfailures = "^10.0"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.0"
s3fs = "0.4.2"  # Must be pinned to 0.4.2
tox = "^3.25.1"

# Docs
bump2version = "^1.0.1"
IPython = "^7.34.0"
jupyterlab = "^3.0"
nbsphinx = "^0.8"
nbsphinx-link = "^1.3.0"
sphinx = "^6.0"
sphinx-bootstrap-theme = "^0.8"
sphinx-copybutton = "^0.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ["py38", "py39", "py310"]
extend_exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.env
  | _build
  | buck-out
  | build
  | dist
  | .vscode
  | dev
  | .coverage
)/
'''

[tool.ruff]
select = ["D", "E", "F", "I001", "I002", "PL", "W"]
ignore = ["E501", "PLR2004", "PLR0913", "PLR0915"]
fixable = ["I001"]
exclude = [
    ".eggs",
    ".git",
    ".mypy_cache",
    ".ruff_cache",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "venv",
]
line-length = 120
target-version = "py38"

[tool.ruff.pydocstyle]
convention = "numpy"

[tool.mypy]
python_version = 3.8
strict = true
ignore_missing_imports = true
warn_unused_ignores = true

[tool.pytest.ini_options]
log_cli = false
filterwarnings = "ignore::DeprecationWarning"
addopts = "--log-cli-format \"[%(name)s][%(funcName)s] %(message)s\" --verbose --capture=sys"
markers = [
    "distributed: tests againsts methods with distributed functionality",
]

[tool.coverage.run]
branch = true
omit = ["awswrangler/distributed/*", "awswrangler/neptune/_utils.py"]

[tool.coverage.report]
show_missing = true
