awscli~=1.18.5
yapf~=0.29.0
mypy~=0.761
flake8~=3.7.9
pytest-cov~=2.8.1
scikit-learn~=0.22.1
cfn-lint~=0.28.2
twine~=3.1.1
wheel~=0.34.2
sphinx~=2.4.3
sphinx_bootstrap_theme~=0.7.1
isort~=4.3.21
pydocstyle~=5.0.2
doc8~=0.8.0
jupyter~=1.0.0
jupyterlab~=1.2.6
