awscli>=1.18.0,<2.0.0
black~=19.3b0
pylint~=2.5.2
flake8~=3.7.9
mypy~=0.770
isort~=4.3.21
pydocstyle~=5.0.2
doc8~=0.8.0
tox~=3.15.0
pytest~=5.4.2
pytest-cov~=2.8.1
pytest-xdist~=1.32.0
scikit-learn~=0.22.1
cfn-lint~=0.30.1
cfn-flip~=1.2.3
twine~=3.1.1
wheel~=0.34.2
sphinx~=3.0.3
sphinx_bootstrap_theme~=0.7.1
moto~=1.3.14
jupyterlab~=2.1.2