black~=19.3b0
pylint~=2.4.4
flake8~=3.7.9
mypy~=0.770
isort~=4.3.21
pydocstyle~=5.0.2
doc8~=0.8.0
tox~=3.14.6
pytest~=5.4.1
pytest-cov~=2.8.1
pytest-xdist~=1.31.0
scikit-learn~=0.22.1
awscli~=1.18.39
cfn-lint~=0.29.4
twine~=3.1.1
wheel~=0.34.2
sphinx~=3.0.0
sphinx_bootstrap_theme~=0.7.1
jupyter~=1.0.0
jupyterlab~=2.1.0
