name: Static Checking

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  Check:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry config virtualenvs.create false --local
          poetry install --all-extras -vvv
      - name: ruff format check
        run: ruff format --check .
      - name: ruff check
        run: ruff check --output-format=github .
      - name: mypy check
        run: mypy --install-types --non-interactive awswrangler
      - name: Documentation check
        run: doc8 --max-line-length 120 docs/source
      - name: Check poetry.lock consistency with pyproject.toml
        run: poetry check --lock
