name: Static Checking

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-3.0.0
  pull_request:
    branches:
      - main
      - release-3.0.0

permissions:
  contents: read

jobs:
  Check:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry config virtualenvs.create false --local
          poetry install poetry install --all-extras -vvv
      - name: Black style
        run: black --check .
      - name: ruff check
        run: |
          ruff . --ignore "PL" --ignore "D"
          ruff awswrangler
      - name: mypy check
        run: mypy --install-types --non-interactive awswrangler
      - name: Pylint Lint
        run: pylint -j 0 --disable=all --enable=R0913,R0915 awswrangler
      - name: Documentation check
        run: doc8 --ignore D005,D002 --max-line-length 120 docs/source
